@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #f5f5f5;
  line-height: 1.6;
  font-size: 1rem;
  color: #666;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}

p {
  margin-bottom: 0;
}

.bg-dark {
  background-color: #fa4f26 !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.card-title {
  color: #fa4f26;
}

h2 {
  color: #fff;
  padding: 0 10px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.scroll {
  background-color: #eaeaea;
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar {
  width: 1rem;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fa4f26;
}
